{% extends 'base.html.twig' %}

{% block title %}Conge{% endblock %}

{% block body %}
    <h1>Conge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conge.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ conge.Type }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ conge.DateDebut ? conge.DateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ conge.DateFin ? conge.DateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('conge_index') }}">back to list</a>

    <a href="{{ path('conge_edit', {'id': conge.id}) }}">edit</a>

    {{ include('conge/_delete_form.html.twig') }}
{% endblock %}
