 {% extends 'base_admin.html.twig' %}

{% block title %}formation{% endblock %}

{% block body %}
    <h1>Liste des Formations</h1>

    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr>
               <th>Id</th>
                <th>Nom</th>
                <th>Lien</th>
                <th>Date formation</th>
                <th>Photo</th>
                
            </tr>
        </thead>
        <tbody>
        {% for formation in list_formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.nom }}</td>
                <td>{{ formation.lieu }}</td>
                <td>{{ formation.Date ? formation.Date|date('Y-m-d') : '' }}</td>
                <td><img src="{{asset('formation_image/' ~ formation.photo) }}" height='100' weigth=" 50"> </td>
                 <td>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a>
                </td>
                 <td>
                    <a href="{{ path('formation1_show', {'id': formation.id}) }}"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></a>
                </td>
                {#
                   {{ knp_pagination_render( grade1s )}}
                #}
               
               
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
    <a href="{{ path('formation_new') }}" class="btn btn-success">Ajouter</a>
{% endblock %}
