{% extends 'base.html.twig' %}

{% block title %}Sanction index{% endblock %}

{% block body %}
    <h1>Sanction index</h1>

    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motif</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sanction in sanctions %}
            <tr>
                <td>{{ sanction.id }}</td>
                <td>{{ sanction.Motif }}</td>
                <td>{{ sanction.DateDebut ? sanction.DateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ sanction.DateFin ? sanction.DateFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('sanction_show', {'id': sanction.id}) }}">show</a>
                    <a href="{{ path('sanction_edit', {'id': sanction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sanction_new') }}">Create new</a>
{% endblock %}
