{% extends 'base.html.twig' %}

{% block title %}Mutation index{% endblock %}

{% block body %}
    <h1>Mutation index</h1>

    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mutation in mutations %}
            <tr>
                <td>{{ mutation.id }}</td>
                <td>{{ mutation.Motif }}</td>
                <td>
                    <a href="{{ path('mutation_show', {'id': mutation.id}) }}">show</a>
                    <a href="{{ path('mutation_edit', {'id': mutation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mutation_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
