{% extends 'base_admin.html.twig' %}

{% block title %}Hello EnseignantContactController!{% endblock %}

{% block body %}
<h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Objet</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignantcontact in contacts %}
            <tr>
                <td>{{ enseignantcontact.id }}</td>
                <td>{{ enseignantcontact.Nom }}</td>
                <td>{{ enseignantcontact.Email }}</td>
                <td>{{ enseignantcontact.Telephone }}</td>
                <td>{{ enseignantcontact.Objet }}</td> 
                <td>{{ enseignantcontact.Message }}</td>
                <td>
                    <a href="{{ path('enseignant_contact_show', {'id': enseignantcontact.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
