{% extends 'base_admin.html.twig' %}

{% block title %}Enseignant{% endblock %}

{% block body %}
    <h1>Enseignant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enseignant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enseignant.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('list_enseignant') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

    <a href="{{ path('edit_enseignant', {'id': enseignant.id}) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>

    {{ include('enseignant_registration/_delete.html.twig') }}
{% endblock %}
